/*
* style.css
* Author: Fede91
* Github: https://github.com/Fede91
*
* Made available under a MIT License:
* http://www.opensource.org/licenses/mit-license.php
*
* style.css Copyright Fede91 2014.
*/

/* Style */
* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
	background: #161616;
	font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
}

h1 {
	text-align:center;
	color: #e7e7e7;
}

h3 {
	margin-bottom: 15px;
}

code {
	color: #e7e7e7;
	font: 12px Courier;
	white-space: pre;
}

.container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.content {
	width: 60%;
	height: 100px;
	margin: 0px auto;
	padding: 25px;
}

.animation_wrapper {
	width: 180px;
	float:left;
	height: 100%;
	padding-left: 50px;
	padding-top: 20px;
}

.info_wrapper {
	color: #00c6ff;
}

